body {
     font-family:Arial;
}
.rect {
     position:fixed;
     top:200px;
     right:-5px;
     border-style: dashed;
     border-color: #84befe;
     border-width: 2px;
     text-align: center;
     padding-top: 20px;
     padding-right: 5px;
}

rect a {
    color: #84befe;
    text-align: center;
}

.rect a:hover {
          text-decoration:underline;
     }
.whole {
     width: 900px;
     margin: auto;
     background-color:#cbe5ff;
     padding: 40px;
     
}

.preview {
     background-color:#84befe;
     width: 750px;
     height: 300px;
     border:solid #84befe;
     position:relative;
     z-index:0;
     margin-left:170px;
}

.container {
     width:900px;
     
}


